main.cpp
.vscode/settings.json
StatisticsCode/.vs/ProjectSettings.json
StatisticsCode/.vs/slnx.sqlite
StatisticsCode/.vs/VSWorkspaceState.json
StatisticsCode/.vs/StatisticsCode/FileContentIndex/2131590b-7bd7-4e53-90b7-5c8103c70925.vsidx
StatisticsCode/.vs/StatisticsCode/FileContentIndex/dff45e4e-5b5b-4825-8b4b-0fea9bb3d931.vsidx
StatisticsCode/.vs/StatisticsCode/v17/.wsuo
StatisticsCode/.vs/StatisticsCode/v17/Browse.VC.db
StatisticsCode/.vs/StatisticsCode/v17/ipch/AutoPCH/2190e1fd72da1f29/MENU.ipch
StatisticsCode/.vs/StatisticsCode/v17/ipch/AutoPCH/74384d2e8b3f7a4f/MAIN.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Calculator-Project/FileContentIndex/d7bc50d0-3c7d-49a8-a2b6-fb210bbd2714.vsidx
.vs/Calculator-Project/v17/.wsuo
.vs/Calculator-Project/v17/Browse.VC.db
.vs/Calculator-Project/v17/ipch/AutoPCH/19c31c09efaa7103/MENU.ipch
